{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "tabWidth": 2,
	"useTabs": true,
  "semi": true,
	"objectWrap": "preserve",
	"arrowParens": "always",
	"proseWrap": "always",
	"singleAttributePerLine": true,
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-organize-attributes"],
  "attributeGroups": ["^class$", "^(id|name)$", "^data-", "$DEFAULT"]
}